body, html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #f1f1f1;
  padding: 0;
}

header .container {
  /* height: 110px; */
  padding: 2%;
  border-radius: 10px;
}

a {
  display: block;
}

.header h4 {
  line-height: 0.9;
}

.img-item {
  display: block;
  border: 3px solid red;
  max-width: 100%;
  height: 80px;
  transition: all 0.5s ease-in-out;
}

.img-item:hover {
  transform: rotate(360deg);
}

.jumbotron {
  background-color: #9a2f2d;
}

footer .container {
  height: 90px;
  padding: 10px;
  border: 1px solid #d9d9d9;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #fafafa;
  border-bottom: none;
}

.modal-open {
	overflow: auto;
}

.modal-backdrop {
	background-color: #fff;
}

.modal-dialog {
	margin-top: 100px;
}

.modal-content {
	border: none;
	background-color: transparent;
}

@media (max-width: 992px) {
  header .container div {
    margin-bottom: 5%;
  }
  header .container div:last-child {
    margin-bottom: 1%;
  }
}

@media (max-width: 598px) {
  header a.btn {
    font-size: 0.9rem;
  }
  header .navbar {
    padding: 0;
  }
}

@media (max-width: 540px) {
  .jumbotron h2 {
    font-size: 2.5rem;
    font-weight: 500;
  }
}
